.header,
.content {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  padding: 15px 15px 5px;
  background-color: #a1c0ee;
  border-radius: 10px 10px 0 0;
}

.header__form {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.header__input {
  width: 100%;
  border: 3px solid #1767df;
  padding: 10px 5px;
  border-radius: 10px 0 0 10px;
  outline: none;
}
.header__btn {
  border: 3px solid #1767df;
  background-color: #1767df;
  border-radius: 0 10px 10px 0;
  color: #fff;
  border-left: none;
  cursor: pointer;
  outline: none;
}

.header__filter {
  border: 3px solid #1767df;
  background-color: #1767df;
  border-radius: 10px;
  padding: 10px 5px;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.content {
  background-color: #a1c0ee;
  padding: 5px 15px 15px;
  max-width: 500px;
  border-radius: 0 0 10px 10px;
}

.content__list {
  list-style: none;
  padding: 0;
}
.content__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.content__text {
  margin: 0;
}

.content__text {
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  max-height: 50px;
  transition: all 0.2s ease-in-out;
  color: #003077;
}

.content__text:hover {
  white-space: normal;
  max-height: 1000px;
}

.content__btns {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.content__btn {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #1767df;
  color: #fff;
  cursor: pointer;
}
.content__btn:not(:first-child) {
  margin-left: 10px;
}

.compl {
  opacity: 0.5;
}
